@use "./bookSearch";
@use "./setting";
@use "./about";
@use "./weread";

.tab-container {
    width: auto;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--b3-theme-background);
    border-radius: 8px;

    .tab-nav {
        list-style-type: none;
        display: flex;

        button,
        li {
            cursor: pointer;
            border: none;
            padding: 8px 20px;
            border-radius: 4px;
            transition: all 0.2s;
            background: var(--b3-theme-surface);
            // 应用适配的主题色
            color: var(--text-color);

            &.active {
                background: var(--b3-theme-primary);
                color: whitesmoke;
                font-weight: bold;
            }

            &:hover {
                background: var(--b3-theme-primary);
                box-shadow: inset 0 -1px 0 var(--b3-theme-primary);
                transform: translateY(-1px);
            }
        }
    }

    .tab-content {
        background-color: var(--b3-theme-surface);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        // 应用适配的主题色
        color: var(--text-color);

        input {
            background-color: var(--b3-theme-background);
            border: 1px solid var(--b3-border-color);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            padding: 8px 12px;
            transition: all 0.3s ease;
            // 应用适配的主题色
            color: var(--text-color);

            &:focus {
                border-color: var(--b3-theme-primary);
                box-shadow: 0 0 0 1px var(--b3-theme-primary);
                outline: none;
            }

            &:hover {
                border-color: var(--b3-theme-primary);
            }

            &[disabled] {
                opacity: 0.7;
                cursor: not-allowed;
            }
        }

        button {
            background-color: var(--b3-theme-background);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
            padding: 8px 16px;
            border: 1px solid var(--b3-border-color);
            border-radius: 8px;
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            // 应用适配的主题色
            color: var(--text-color);

            &:hover {
                transform: translateY(-1px);
                box-shadow: 0 5px 12px var(--b3-theme-hover);
            }

            &:active {
                transform: translateY(1px);
                box-shadow: 0 2px 4px rgba(var(--b3-theme-primary), 0.2);
            }
        }
    }
}

.b3-dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none;
}

.b3-dialog-scrim {
    background-color: var(--b3-theme-scrim);
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

.b3-dialog-card {
    background: var(--b3-theme-surface);
    border-radius: var(--b3-border-radius-dialog);
    width: 600px;
    max-width: 90vw;
    box-shadow: var(--b3-dialog-shadow);
    pointer-events: auto;
    z-index: 1;
    animation: dialog-enter 0.2s ease;
    // 应用适配的主题色
    color: var(--text-color);
}